.search-bar {
  display: flex;
  align-items: center;
  background-color: #f4f7f9;
  padding: 8px 12px;
  border-radius: 8px;
  width: 100%;
  max-width: 250px;
  margin-bottom: 0px;
  border-color: #666;
}

.search-bar input {
  border: none;
  outline: none;
  flex: 1;
  color:black;
  margin-left: 8px;
  font-size: 16px;
  background-color: transparent;
}

.search-icon {
  color: #666;
  font-size: 18px;
}
