
.all-pages > * {
  margin-bottom: 60px;
  padding: 20px;
  border-bottom: 2px ;
}

.highlight {
  background: yellow;
  color: black;
  padding: 0 2px;
  border-radius: 3px;
  font-weight: bold;
  animation: pulse 1s ease-out;
}

@keyframes pulse {
  0% { background: #ffeb3b; }
  50% { background: #fff176; }
  100% { background: #ffeb3b; }
}


.fluxo-section {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 30px;
  margin-top: 30px;
  flex-wrap: wrap; /* faz quebrar para baixo em telas menores */
}

.fluxo-texto {
  flex: 1;
  min-width: 300px;
}

.fluxo-imagem {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fluxo-img {
  max-width: 100%;
  width: 600px;
  height: auto;
  border-radius: 10px;
}

/* Responsividade */
@media (max-width: 768px) {
  .fluxo-section {
    flex-direction: column;
    align-items: center;
  }

  .fluxo-img {
    width: 80%;
    margin-top: 20px;
  }
}

