.section {
  background-color: #fff;
  border-radius: 12px;
  padding: 13px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  color: #1e1e1e;
  margin-bottom: -60px;
}
.header {
    display: flex;
    align-items: center; 
    justify-content: center;
    max-height: 20px;
    margin-top: 20px;
}

